.section__structure {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    contain: layout style paint;
}

.section__structure.loaded::before {
    -webkit-animation: kenburns-bottom-right 2s ease-out both;
    animation: kenburns-bottom-right 2s ease-out both;
}

.section__structure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle at center, transparent 80%, rgba(0, 0, 0, 0.5) 100%),
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.0) 30%,
            rgba(0, 0, 0, 0.0) 70%,
            rgba(0, 0, 0, 0.8)),
        url(../images/VsStructure/main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    -webkit-animation: none;
    animation: none;
}


/* Template style */
.template-content {
    padding: 20px;
}

.template-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.template-item {
    flex: 1 1 calc(25% - 15px);
    /* 4 элемента в ряду */
    min-width: 200px;
    /* минимальная ширина карточки */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s, box-shadow 0.2s;
}

.template-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.template-item a {
    text-decoration: none;
    color: inherit;
    display: block;
}