
@font-face {
    font-family: 'Code Pro';
    src: url('../fonts/CodePro/Code-Pro-Light.eot');
    src: local('Code Pro Light'), local('Code-Pro-Light'),
        url('../fonts/CodePro/Code-Pro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CodePro/Code-Pro-Light.woff') format('woff'),
        url('../fonts/CodePro/Code-Pro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Code Pro';
    src: url('../fonts/CodePro/Code-Pro.eot');
    src: local('Code Pro'), local('Code-Pro'),
        url('../fonts/CodePro/Code-Pro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CodePro/Code-Pro.woff') format('woff'),
        url('../fonts/CodePro/Code-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code Pro Light Demo';
    src: url('../fonts/CodePro/Code-Pro-Light-Demo.eot');
    src: local('Code Pro Light Demo'), local('Code-Pro-Light-Demo'),
        url('../fonts/CodePro/Code-Pro-Light-Demo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CodePro/Code-Pro-Light-Demo.woff') format('woff'),
        url('../fonts/CodePro/Code-Pro-Light-Demo.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Code Pro Bold LC';
    src: url('../fonts/CodePro/Code-Pro-Bold-LC.eot');
    src: local('Code Pro Bold LC'), local('Code-Pro-Bold-LC'),
        url('../fonts/CodePro/Code-Pro-Bold-LC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CodePro/Code-Pro-Bold-LC.woff') format('woff'),
        url('../fonts/CodePro/Code-Pro-Bold-LC.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Code Pro';
    src: url('../fonts/CodePro/Code-Pro-Bold.eot');
    src: local('Code Pro Bold'), local('Code-Pro-Bold'),
        url('../fonts/CodePro/Code-Pro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CodePro/Code-Pro-Bold.woff') format('woff'),
        url('../fonts/CodePro/Code-Pro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Code Pro Light LC';
    src: url('../fonts/CodePro/Code-Pro-Light-LC.eot');
    src: local('Code Pro Light LC'), local('Code-Pro-Light-LC'),
        url('../fonts/CodePro/Code-Pro-Light-LC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CodePro/Code-Pro-Light-LC.woff') format('woff'),
        url('../fonts/CodePro/Code-Pro-Light-LC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Code Pro LC';
    src: url('../fonts/CodePro/Code-Pro-LC.eot');
    src: local('Code Pro LC'), local('Code-Pro-LC'),
        url('../fonts/CodePro/Code-Pro-LC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CodePro/Code-Pro-LC.woff') format('woff'),
        url('../fonts/CodePro/Code-Pro-LC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code Pro Demo';
    src: url('../fonts/CodePro/Code-Pro-Demo.eot');
    src: local('Code Pro Demo'), local('Code-Pro-Demo'),
        url('../fonts/CodePro/') format('embedded-opentype'),
        url('../fonts/CodePro/Code-Pro-Demo.woff') format('woff'),
        url('../fonts/CodePro/Code-Pro-Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code Pro Black LC';
    src: url('../fonts/CodePro/Code-Pro-Black-LC.eot');
    src: local('Code Pro Black LC'), local('Code-Pro-Black-LC'),
        url('../fonts/CodePro/Code-Pro-Black-LC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CodePro/Code-Pro-Black-LC.woff') format('woff'),
        url('../fonts/CodePro/Code-Pro-Black-LC.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Code Pro';
    src: url('../fonts/CodePro/Code-Pro-Black.eot');
    src: local('Code Pro Black'), local('Code-Pro-Black'),
        url('../fonts/CodePro/Code-Pro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CodePro/Code-Pro-Black.woff') format('woff'),
        url('../fonts/CodePro/Code-Pro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'Kurale';
    src: url('../fonts/Kurale/Kurale-Regular.eot');
    src: local('Kurale'), local('Kurale-Regular'),
        url('../fonts/Kurale/?#iefix') format('embedded-opentype'),
        url('../fonts/Kurale/Kurale-Regular.woff') format('woff'),
        url('../fonts/Kurale/Kurale-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
        url('../fonts/FuturaPT/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('../fonts/FuturaPT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-MediumObl.eot');
    src: local('Futura PT Medium Oblique'), local('FuturaPT-MediumObl'),
        url('../fonts/FuturaPT/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-MediumObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPT/FuturaPTCond-Medium.eot');
    src: local('Futura PT Cond Medium'), local('FuturaPTCond-Medium'),
        url('../fonts/FuturaPT/FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPTCond-Medium.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPTCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-LightObl.eot');
    src: local('Futura PT Light Oblique'), local('FuturaPT-LightObl'),
        url('../fonts/FuturaPT/FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-LightObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPT/FuturaPTCond-Bold.eot');
    src: local('Futura PT Cond Bold'), local('FuturaPTCond-Bold'),
        url('../fonts/FuturaPT/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPTCond-Bold.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT/FuturaPT-BookObl.eot');
    src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'),
        url('../fonts/FuturaPT/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'), a url('../fonts/FuturaPT/FuturaPT-BookObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot');
    src: local('Futura PT Cond Extra Bold Oblique'), local('FuturaPTCond-ExtraBoldObl'),
        url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'),
        url('../fonts/FuturaPT/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-BoldObl.eot');
    src: local('Futura PT Bold Oblique'), local('FuturaPT-BoldObl'),
        url('../fonts/FuturaPT/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-BoldObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/FuturaPT/FuturaPT-DemiObl.eot');
    src: local('Futura PT Demi Oblique'), local('FuturaPT-DemiObl'),
        url('../fonts/FuturaPT/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-DemiObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.eot');
    src: local('Futura PT Cond Extra Bold'), local('FuturaPTCond-ExtraBold'),
        url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
        url('../fonts/FuturaPT/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-HeavyObl.eot');
    src: local('Futura PT Heavy Oblique'), local('FuturaPT-HeavyObl'),
        url('../fonts/FuturaPT/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-HeavyObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-HeavyObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../fonts/FuturaPT/FuturaPT-ExtraBoldObl.eot');
    src: local('Futura PT Extra Bold Oblique'), local('FuturaPT-ExtraBoldObl'),
        url('../fonts/FuturaPT/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-ExtraBoldObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('../fonts/FuturaPT/FuturaPTCond-Book.eot');
    src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'),
        url('../fonts/FuturaPT/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPTCond-Book.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPTCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../fonts/FuturaPT/FuturaPT-ExtraBold.eot');
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
        url('../fonts/FuturaPT/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPT/FuturaPTCond-BoldObl.eot');
    src: local('Futura PT Cond Bold Oblique'), local('FuturaPTCond-BoldObl'),
        url('../fonts/FuturaPT/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPTCond-BoldObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPTCond-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPT/FuturaPTCond-MediumObl.eot');
    src: local('Futura PT Cond Medium Oblique'), local('FuturaPTCond-MediumObl'),
        url('../fonts/FuturaPT/FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPTCond-MediumObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPTCond-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('../fonts/FuturaPT/FuturaPTCond-BookObl.eot');
    src: local('Futura PT Cond Book Oblique'), local('FuturaPTCond-BookObl'),
        url('../fonts/FuturaPT/?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPTCond-BookObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPTCond-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}